@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Course Name : @ViewBag.course</p>
<p>Course Instructor : @ViewData["Instructor"]</p>
